
{% extends 'dumy.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block body_block %}
<center>

<br><br>

<div class="container-fluid"  id="back"><br>
    <h1>Change Password</h1>
    <form class="form form-data" method="POST" >
        {% csrf_token %}

        <label for="pw">New password</label>
        <input type="password" name="pw" id="pw" placeholder="Enter New Pasword"><br><br>

    <input class="btn btn-primary" type="submit" value="register"><br><br>
    <h1></h1>
    </form>

</div>
</center>

{% endblock %}










