
{% extends 'dumy.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block body_block %}
<center>

<h1>registration Form</h1>

<div class="container-fluid">
    <form class="form form-data" method="POST" >
        {% csrf_token %}

        <label for="pw">New password</label>
        <input type="password" name="pw" id="pw" placeholder="Enter New Pasword"><br><br>

    <input class="btn btn-primary" type="submit" value="register">
    </form>

</div>
</center>

{% endblock %}










