{% extends 'dumy.html' %}

{% block title %}
<title>Forget-password</title>

{% endblock %}

{% block body_block %}
    <center>
        <br><br><br>
        
        <div class="container " id="back">
            <h1>Forget Password</h1>
            <form method="POST" class="form">
                {% csrf_token %}
                <label for="un" class="form-label">User Name</label>
                <input type="text" name="un" id="un" placeholder="USERNAME" class="form-input" ><br><br>
    
                <label for="psw" class="form-label">New Password</label>
                <input type="password" name="psw" id="psw" placeholder="New PASSWORD" class="form-input"><br><br>
               
                <input type="submit" value="User_login" class="btn btn-primary"><br><br>
                <h1></h1>
                <br>
            </form>
        </div>

    </center>

{% endblock %}