
        {% extends 'dumy.html' %}

        {% block body_block %}
        <center>

        <h1>registration Form</h1>

        <div class="container-fluid">
            <form class="form form-data" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
    
                    {{ufo.as_p}}
                    {{pfo.as_p}}
            <input class="btn btn-primary" type="submit" value="register">
            </form>

        </div>
    </center>

        {% endblock %}









   
